@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!-- front page, login screen only, send to either student, Teacher, or Admin dashboard based on login type -LL -->
    
</div>
