@{
    ViewData["Title"] = "Student Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Clock in your attendance</a>.</p>
    <!-- button click to clock in attendance -->
    <button onclick="alert('Attendance Clocked In!')">Clock In</button>
    <!--button cliclk to clock out attendance -->
    <button onclick="alert('Attendance Clocked Out!')">Clock Out</button>
    <!-- director button to students clock history -->
    <button onclick="window.location.href='/Student/AttendanceHistory'">View Attendance History</button>
</div>